$pokedex: url("https://vignette.wikia.nocookie.net/pokemon-wiki-no-2/images/d/d0/Pokedex1.gif/revision/latest?cb=20130630141050");
$info-text-color: rgb(2, 2, 2);
$info-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;